<div *ngIf="gif; else loading">
    <h2 class="text-3xl">{{title}}</h2>
    <div class="mb-6 cursor-pointer text-teal-400" (click)="goBack()">← Go back</div>
    <div class="flex flex-wrap overflow-hidden">
        <div class="w-full overflow-hidden sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2 overflow-hidden">
            <img [asyncImage]="gif.images.original.url" class="object-fit h-full w-full object-center" [alt]="title">
        </div>
        <div
            class="w-full overflow-hidden mt-6 px-0 md:w-1/2 lg:w-1/2 xl:w-1/2 md:px-8 lg:px-8 xl:px-8 md:pmt-6 lg:mt-6 xl:mt-6">
            <div *ngIf="gif.source_tld" class="mb-2">
                <div class="font-bold text-sm text-gray-700">source</div>
                <a class="text-white hover:text-teal-500 cursor-pointer text-2xl" target="blank"
                    [href]="gif.source">{{gif.source_tld}}</a>
            </div>
            <div *ngIf="gif.bitly_url" class="flex flex-col flex-wrap mb-2">
                <div class="font-bold text-sm text-gray-700">giphy post</div>
                <p class="truncate"><a class="text-white hover:text-teal-500 cursor-pointer text-2xl" target="blank"
                        [href]="gif.bitly_url">{{gif.bitly_url}}</a></p>
            </div>
            <div *ngIf="gif.images.original.width" class="mb-2">
                <div class="font-bold text-sm text-gray-700">width</div>
                <p class="text-white text-2xl">{{gif.images.original.width}} px</p>
            </div>
            <div *ngIf="gif.images.original.height" class="mb-2">
                <div class="font-bold text-sm text-gray-700">height</div>
                <p class="text-white text-2xl">{{gif.images.original.height}} px</p>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="flex relative">
        <app-loader></app-loader>
    </div>
</ng-template>