<div class="flex flex-col w-full p-6">
    <div class="flex bg-white h-16 sticky top-0 z-30 mb-6 font-bold">
        <div class="block h-full flex-grow">
            <input id="query" [formControl]="query" (keydown.enter)="search()"
                class="outline-none h-full w-full text-black px-3 text-xl" type="text">
        </div>
        <button (click)="search()"
            class="flex items-center justify-center text-black bg-teal-400 px-5 cursor-pointer font-bold focus:outline-none hover:bg-teal-300">Buscar</button>
    </div>
    <router-outlet></router-outlet>
</div>